.tablero
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70vw;
    min-height: 25vmax ;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.hangmanDraw
{
    font-size: 0.5vh;
    width: 22vmax;
    height: 27vmax;
}

#showResult
{
    font-size: 3vmax;
    text-align: center;
    min-height: 2em;
    margin-bottom: 1em;
}

.winner
{
    color: #02C508;
}

.loser
{
    color: #C50202;
}

.score
{
    width: 22vmax;
    margin-top: 5vmax;
    display: flex;
    flex-direction: column;
}

.keyword
{
    display: flex;
    justify-content: space-evenly;
}

.keyLetter
{
    display: inline-block;
    width: 10%;
    font-size: 4.7vmin;
    min-height: 1em;
    text-align: center ;
    color: #0A3871;
    font-weight: bold;
    padding-bottom: 1.5vmin;
    border-bottom: 4px solid #0A3871;
}

.failLetterBox
{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    flex-wrap: wrap;
    justify-content: center;
}

.failLetter
{
    font-size: 4vmin;
    margin: 0.2em;
}

.controller
{
    max-width: 90vw;
    display: flex;
    flex-direction: column;
}

.teclado
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 80vw;
    margin-bottom: 2vh;
}

.teclas
{
    font-size: 2vmax;
    height: 2em;
    width: 2em;
    margin: 0.2vw;
    border-radius: 2.3vmin;
}