.board
{
    height: 64vh;
    width: 100%;
}

.controller
{
    max-width: 90vw;
    display: flex;
    flex-direction: column;
}

.teclado
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 80vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.teclas
{
    background-color: inherit;
    font-size: 1.5vmax;
    height: 2em;
    width: 2em;
    margin: 0.2vw;
    border-radius: 2.3vmin;
}